*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
  
body{
    background-color:beige;
}

.user-section{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
     border-top:solid 2px rgb(19, 19, 82);
     border-right:solid 2px rgb(19, 19, 82);
   
}



 .table-header, .table-data{
     padding:20px;
     border-left:solid 2px  rgb(19, 19, 82);
     border-bottom:solid 2px  rgb(19, 19, 82);
    
}

.table-header{
    background-color:DarkSeaGreen;
    color:black;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight:900;
}
.table-data{
    background-color:DarkSalmon;
   
    color:black;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight:900;
}